---
layout: default
title: 84 Precious Words
---

  <div class="top-strip"></div>
  <div class="content">
    <main class="container">

    	<div class="row-fluid">
    		<section class="content">
    		  <h1>84 Precious Words</h1>
    		</section>
    	</div>

      <h2>Words that define our personal relationship with the Lord</h2>

      <div>
      {% for word in site.words %}
        {% if word.categories contains "first" %}
          <span class="word"><a href="{{ site.baseurl }}{{ word.url }}">{{ word.title }}</a>{% unless forloop.last %}&nbsp;&#8226;&nbsp;{% endunless %}</span>
        {% endif %}
      {% endfor %}
      </div>

      <h2 class="category disabled">Words that describe our personal fellowship with the Lord</h2>

        <h3 class="category disabled">Approaching</h3>
          <div>
          {% for word in site.words %}
            {% if word.categories contains "approaching" %}
              <span class="word disabled"><a href="#">{{ word.title }}</a>&nbsp;&#8226;&nbsp;</span>
            {% endif %}
          {% endfor %}
          </div>       

        <h3 class="category disabled">Beholding</h3>
          <div>
          {% for word in site.words %}
            {% if word.categories contains "beholding" %}
              <span class="word disabled"><a href="#">{{ word.title }}</a>&nbsp;&#8226;&nbsp;</span>
            {% endif %}
          {% endfor %}
          </div>

        <h3 class="category disabled">Assimilating</h3>
          <div>
          {% for word in site.words %}
            {% if word.categories contains "assimilating" %}
              <span class="word disabled"><a href="#">{{ word.title }}</a>&nbsp;&#8226;&nbsp;</span>
            {% endif %}
          {% endfor %}
          </div>

        <h3 class="category disabled">Dealing</h3>
          <div>
          {% for word in site.words %}
            {% if word.categories contains "dealing" %}
              <span class="word disabled"><a href="#">{{ word.title }}</a>&nbsp;&#8226;&nbsp;</span>
            {% endif %}
          {% endfor %}
          </div>

        <h3 class="category disabled">Worshipping</h3>
          <div>
          {% for word in site.words %}
            {% if word.categories contains "worshipping" %}
              <span class="word disabled"><a href="#">{{ word.title }}</a>&nbsp;&#8226;&nbsp;</span>
            {% endif %}
          {% endfor %}
          </div>
<br><br>

    </main>
  </div>

