---
layout: default
---

<div class="top-strip"></div>
<main class="content">
    <section class="container">
    	<div class="row-fluid">
    		<br>
    		<h4 class="text-left">
				<a href="{{ site.baseurl }}/"><i class="fa fa-angle-left"></i> 84 Words</a>
			</h4>
			<br>
			<article class="post">
				<h5>{{ page.date | date: "%d %B %Y" }}</h5>
				<h1 class="page-header">{{page.title}}
					<small style="display:block">{{ page.subheading }}</small>
				</h1>
				<section>
					{{ content }}
					<hr>
				</section>
				<section style="font-weight:bold; margin-bottom: 2em;">
					{% if page.previous %} 
							<a rel="prev" class="a-hover"href="{{ page.previous.url }}"><i class="icon-double-angle-left"></i> {{ page.previous.title }}</a>
						{% endif %}
						{% if page.next %} 
							<a rel="next" style="float:right" class="a-hover"href="{{ page.next.url }}">{{ page.next.title }} <i class=" icon-double-angle-right"></i></a>
					{% endif %}
				</section>
			</article>
		</div>
	</section>
</main>
